{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 160,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(-native)?$",
    "^react-native-(.*)$",
    "^expo(.*)$",
    "^firebase/(.*)$",
    "^@react-native(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
