.root {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-divider);
  border-radius: 8px;
  overflow: hidden;
}

.descriptionToggle {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-divider);
}

.descriptionToggle:hover {
  background-color: var(--action-hover);
}

.expandIcon {
  font-size: 16px;
}

.content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.editorWrap {
  flex: 7;
  min-height: 0;
}
