.root {
  container-type: size;
  line-height: 1.6;
  word-wrap: break-word;
  font-size: 1.5cqb;
  color: var(--text-primary);
  overflow: auto;
}

.content h1,
.content h2,
.content h3 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  border-bottom: 1px solid var(--color-divider);
  padding-bottom: 0.3em;
}

.root p {
  margin-top: 0;
  margin-bottom: 16px;
}

.root pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--pre-bg);
  border-radius: 6px;
  margin-bottom: 16px;
}

.root code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--code-bg);
  border-radius: 3px;
  font-family: var(--font-mono);
}

.root pre > code {
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
}

.root table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-top: 0;
  margin-bottom: 16px;
}

.root table th,
.root table td {
  padding: 6px 13px;
  border: 1px solid var(--color-divider);
}

.root table tr:nth-of-type(2n) {
  background-color: var(--table-stripe-bg);
}

.root blockquote {
  padding: 0 1em;
  color: var(--text-secondary);
  border-left: 0.25em solid var(--color-divider);
  margin: 0 0 16px 0;
}

.root ul,
.root ol {
  margin-top: 0;
  margin-bottom: 8px;
  padding-left: 24px;
}

.root li {
  margin-top: 4px;
  margin-bottom: 0;
}

.root li > ul,
.root li > ol {
  margin-top: 0;
  margin-bottom: 0;
}
